﻿/* stylesheet for Deck Of Cards module */

.card {
    width: 60px;
    height: 80px;
    border-radius: 3px;
    border: 1px solid #666;
    background-color: #f0f0f0;
    padding: 4px;
    font-size: 20px;
    position: relative;
}

.card-list {
    list-style-type: none;
}

    .card-list li {
        display: inline-block;
        margin: 0 5px 5px 0;
    }

.card.red {
    color: red;
}

.card.black {
    color: black;
}

.card .suit {
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
