﻿.loadMask 
{
    z-index:8888; 
    width:100%; 
    height: 100%; 
    background-color: #fff; 
    position: fixed; 
    opacity: 0.4; 
    filter: alpha(opacity=40);
    display: table;  
}

.loadMaskBox 
{
    z-index:9999; 
    text-align: center;
    background-color: #fff;
    display: table-cell;   
    vertical-align: middle;
}

.noLink, .noLink:link, .noLink:active
{
    color: #000;
    text-decoration: none;
}

.noLink:hover, .noLink:focus 
{
    color: #808080;
}

i 
{
    cursor: pointer;    
}

.cursor 
{
    cursor: pointer;    
}

.modal-dialog {
    width: 300px !important; 
}