﻿<h2>
    Poker hand sample tests
    </h2>

<form name="PokerHandEvalForm" ng-submit="loadSampleResult()">
    <messagehandler messageobj="messageHandler"></messagehandler>

    <div ng-init="init()" class="row">
        <i ng-bind="handsResult.Hand1.PlayerName"></i><br />
        
        <i class="fa fa-check fa-3x text-success" ng-if="handsResult.Hand1.Rank < handsResult.Hand2.Rank"></i><br />
        <ul class="card-list">
            <li ng-repeat="card in handsResult.Hand1.Cards">
                <div class="card {{card.suit.color}}" title="{{card.displayName}}">
                    <div class="letter">{{card.letter}}</div>
                    <div class="suit" ng-bind-html="card.suit.glyph"></div>
                </div>
            </li>
        </ul>
        <i ng-bind="handsResult.Hand2.PlayerName"></i><br />
        <i class="fa fa-check fa-3x text-success" ng-if="handsResult.Hand2.Rank < handsResult.Hand1.Rank"></i><br />
        <ul class="card-list">
            <li ng-repeat="card in handsResult.Hand2.Cards">
                <div class="card {{card.suit.color}}" title="{{card.displayName}}">
                    <div class="letter">{{card.letter}}</div>
                    <div class="suit" ng-bind-html="card.suit.glyph"></div>
                </div>
            </li>
        </ul>

        <input type="submit" class="btn btn-success" value="Run another test" />
    </div>
</form>
