﻿<div class="alert .alert-dismissible" ng-class="{'alert-danger': messageobj.isError, 'alert-success': !messageobj.isError}" ng-show="messageobj.$isVisible">
<!--note: angular directive templates requires html to have exactly one root node regardless if the node is a comment or not.-->
    <button type="button" class="close" ng-click="messageobj.hide()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    {{messageobj.message}}
</div>
